body {
    margin: 0;
    background-color: #fff;   
    }

    h1, h2, h3, h4, h5, h6{
        margin: 0;
    }

    
    :root {    
        --color-trans: rgb(255, 0, 234);
        --color-base1: #bad6d6;
        --color-base2: #e2e8e8;
        --color-base3: #b4d3d3;
        --color-subTitle: #b4d3d3;
        --color-text: #6b6a6a;
    }

    p{margin: 0;}
    
    .Page {
      margin: 0;
      width: 100%;
      box-sizing: content-box;
      position: relative;
  }
  /*заголовки блоков*/
  .Title1 {
    position: relative;
    font-size: 40px;
    font-family: Play;
    font-weight: 1000;
    margin: 0px auto 0;
    padding-top: 30px;
    max-width: 50%;
    color: #000;
    text-align: center;
    text-transform: uppercase;
       
}

.Title2 {
  position: relative;
  font-size: 40px;
  font-family: Play;
  font-weight: 1000;
  margin: auto ;
  display: block;
  max-width: 50%;
  color: #000;
  text-align: center;
  text-transform: uppercase;
     
}
.mm{
    position: relative;
    display: flex;
    margin: auto;
    text-align: center;
    font-size: 24px;
    line-height: 1;
}

/*блок ссылок на соц сети*/
.logo {
    position: absolute;
    left: 20px;
    top: 100px;
    display: grid;
    height: 200px;
    z-index: 100;    
}

.soc {   
    position: relative;
    width: 30px;
    height: 30px;
    transition: .2s linear;
    z-index: 99;
}

.soc:hover {transform: scale(1.2);}
/*линии на меню*/

    /*кнопки навигации слева вверху*/
    .mainnav {
        position: absolute;
        top: 30px;
        left: 80px;
        display: flex;
        max-width: 30%;
        font-family: Play;
        font-size: 17px; 
        z-index: 99;       
    }

    .mainnavbottom {
        margin: 0 10px;
        text-decoration: none;
        color: #000;
    }
    
    .mainnavbottom:hover{    
        color: var(--color-trans);   
    }

    /*блок выпадаюжего меню*/
    .menu {
        position: absolute;
        left: 25px;
        top: 30px;
        z-index: 9999;
        transition: .2s linear;
        transform: scale(1.1)
    }

    /* Кнопка выпадающего списка */
    .dropbtn {
    color: white;
    padding: 0px;
    font-size: 16px;
    border: none;
    cursor: pointer;
    width: 30px;
    height: 30px;
    position: absolute;
    top: 0;
    left: 0;
    opacity: 0;
  }
  
  /* Кнопка выпадающего меню при наведении и фокусировке */
  .dropbtn:hover, .dropbtn:focus {
    background-color: #2980B9;
  }
  
  /* Выпадающее содержимое (скрыто по умолчанию) */
  .dropdown-content {
    display: none;
    position: absolute;
    background-color: #f1f1f1;
    min-width: 260px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
    left: 35px;
    top: -5px;
    z-index: 9999;
  }
  
  /* Ссылки внутри выпадающего списка */
  .dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
  }
  
  /* Изменение цвета выпадающих ссылок при наведении курсора */
  .dropdown-content a:hover {background-color: var(--color-base3)}
  
  /* Показать выпадающее меню (используйте JS, чтобы добавить этот класс .dropdown-content содержимого, когда пользователь нажимает на кнопку выпадающего списка) */
  .show {display:block;}

.container {
    width: 80%;
    box-sizing: content-box;
    margin: 50px auto 0;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(600px, 1fr));
    grid-gap: 32px;
    padding: 15px;
  }


  .photo{
    position: relative;
    margin: auto;
    width: 200px;
    height: 300px;
    background-size: contain;
    /*box-shadow: 5px 5px 10px #000;*/
    border: #000 1px solid;
    
  }

  .photo:nth-child(1){
    grid-column: span 1;
    background-color: var(--color-base1);
  }

  .selfinf{
    margin: 0;
    box-shadow: 5px 5px 10px #000;
    padding: 20px;
    background-color: var(--color-base2);
  }

  .m{
    display: flex;
  }

  .fio{
    margin: 0 auto;
    margin-bottom: 15px;
    font-family: Nunito;
    font-size: 2em;
    font-weight: 1000;
  }

.about{
    margin: 0 auto 10px;
    padding-left: 15px;
    font-family: Nunito;
    font-size: 1em;
    font-weight: 400;
    
}
  .photo:nth-child(3) {
    grid-column: span 1;
  }

  .education:nth-child(3) {
    grid-column: span 2;
  }

  .photo1{
    position: relative;
    margin: 0 auto;
    width: 200%;
    height: 300px;
  }

  .education{
    box-shadow: 5px 5px 10px #000;
    padding: 20px;
    background-color: var(--color-base2);
  }

       /*подвал страницы*/
       footer{
        height: 200px;
        background-color: var(--color-base3);
        position: relative;
        display: flex;
        margin: auto;
    }

  @media screen and (max-device-width: 500px) {
    .container{
        width: 80%;
        grid-template-columns: repeat(auto-fit, minmax(500px, 1fr));
        grid-gap: 32px;
    }
    p{
        text-align: justify;

    }
    .photo{
        display: flex;
        margin: auto;
        width: 300px;
        height: 350px;
    }
    .selfinf{
        margin: 0 auto;
    }
    .education:nth-child(3) {
        grid-column: span 1;
      }
    .about{
        font-size: 1em;
        line-height: 1.5;
        margin-bottom: 15px;
    }
    .soc{
        position: relative;
        transform: scale(1.7);
        height: 60px;
        box-sizing: content-box;
    }
    .logo{
        position: absolute;
        top: 150px;
        left: 30px;
        height: 400px;
    }
    .menu{
        transform: scale(2);
        left: 35px;
        top: 48px;
    }
    .mainnav{
        top: 45px;
        left: 200px;
        transform: scale(2);
    }
    .Title1{
        text-align: center;
        margin-right: 0%;
    }
  }